
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>CTrack</h1>
    <p class="lead">Trouble free complaint tracking</p>
    <p><a href="@Url.Content("~/Company/Create")" class="btn btn-primary btn-large">Create New Company &raquo;</a></p>
</div>
